<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LanguageExt.Core" version="4.4.9" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" />
  <package id="System.Collections.Immutable" version="9.0.4" manuallyInstalled="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
</packages>